@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit;*/
}

body {
  /* box-sizing: border-box;
    background: $colour-secondary;*/
  margin: 0 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b {
  font-weight: bold;
}

* {
  font-family: 'Lato';
  font-weight: 300;
  color: black;
  font-size: 1.2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 0.85rem;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}

button {
  font-weight: 200;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 98%;
}

.header__img {
  margin-top: 5rem;
  width: 25rem;
}

input {
  padding-left: 2rem;
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  background-color: #e7e7e7;
  border: none;
  outline: #ce5052;
  font-size: 1.4rem;
  /*
  &:focus {
    outline: 2px solid $outline;
  }*/
}

input::-webkit-input-placeholder {
  width: 20rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  width: 20rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::-ms-input-placeholder {
  width: 20rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input::placeholder {
  width: 20rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conteneur-principal {
  margin: 0 5%;
}

.conteneur-principal main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .conteneur-principal {
    margin: 0 auto;
    width: 100rem;
    padding-left: 4rem;
  }
}

.recherche {
  width: 98%;
  margin: 2rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recherche__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.recherche__tags {
  height: auto;
  margin: 1rem;
}

.recherche__tags__ingredients, .recherche__tags__appareils, .recherche__tags__ustenciles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recherche__tags__item {
  margin: 1rem 0.2rem;
  border-radius: 3px;
  padding: 0.2rem 0.8rem;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.recherche__filtre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  width: 100%;
}

.recherche__filtre__element {
  margin-top: 1rem;
  cursor: pointer;
  width: 12rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  color: #FFFFFF;
  height: 5rem;
  border-radius: 3px;
  -webkit-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

.recherche__filtre__element:hover, .recherche__filtre__element:focus {
  opacity: 1;
}

.recherche__filtre__element:not(:last-child) {
  margin-right: 1rem;
}

.recherche__filtre__input {
  opacity: 0;
  font-size: 1.3rem;
  border: none;
  visibility: hidden;
  display: block;
  height: 5rem;
  border-radius: 3px;
  width: 100%;
  outline: none;
  color: #FFFFFF;
}

.recherche__filtre__input ::-webkit-input-placeholder {
  opacity: 1;
}

.recherche__filtre__input :-ms-input-placeholder {
  opacity: 1;
}

.recherche__filtre__input ::-ms-input-placeholder {
  opacity: 1;
}

.recherche__filtre__input ::placeholder {
  opacity: 1;
}

.recherche__filtre__label {
  color: #FFFFFF;
  width: 5rem;
  opacity: 1;
  visibility: visible;
  text-transform: capitalize;
}

.recherche__filtre__list {
  width: 12rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 0 0 3px 3px;
  padding: 1rem 1rem;
  top: 100%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.recherche__filtre__list__item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  position: relative;
  margin-bottom: 0.2rem;
  display: block;
  color: #FFFFFF;
  text-align: left;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.recherche__filtre__list__item:hover {
  font-weight: 600;
  cursor: pointer;
}

.recherche__filtre__list__item:focus {
  font-weight: 600;
}

.recherche__filtre__list__item__erreur {
  color: #FFFFFF;
  cursor: default;
  list-style: none;
}

.conteneur-filtre-ingredients, .conteneur-filtre-appareils, .conteneur-filtre-ustenciles {
  width: auto;
  -webkit-transition: width 0.1s ease;
  transition: width 0.1s ease;
}

.larger {
  width: 40%;
  margin-right: 1rem;
}

.recherche__filtre__element.visible ~ .recherche__filtre__list {
  opacity: 1;
  visibility: visible;
  width: 40%;
}

.recherche__filtre__element.visible > .recherche__filtre__input {
  opacity: 1;
  visibility: visible;
  width: 100%;
}

.recherche__filtre__element.visible > .recherche__filtre__input::-webkit-input-placeholder {
  text-transform: capitalize;
}

.recherche__filtre__element.visible > .recherche__filtre__input:-ms-input-placeholder {
  text-transform: capitalize;
}

.recherche__filtre__element.visible > .recherche__filtre__input::-ms-input-placeholder {
  text-transform: capitalize;
}

.recherche__filtre__element.visible > .recherche__filtre__input::placeholder {
  text-transform: capitalize;
}

.recherche__filtre__element.visible > .recherche__filtre__label {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.recherche__filtre__element.visible > .bt-affiche-ou-masque {
  position: absolute;
  height: 10px;
  width: 10px;
  right: 1rem;
  margin-left: 1rem;
}

.fas.fa-search {
  font-size: 2rem;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 4rem;
}

.far.fa-times-circle {
  margin-left: 0.5rem;
  cursor: pointer;
  color: #FFFFFF;
}

.far.fa-times-circle:hover {
  color: black;
}

.ingredients {
  background-color: #3282f7;
}

.appareils {
  background-color: #68d9a4;
}

.ustenciles {
  background-color: #ed6454;
}

.resultat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1rem -1rem 0 -1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.erreur-resultat {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.bt-affiche-ou-masque {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: -2.5rem;
}

.bt-affiche-ou-masque::before,
.bt-affiche-ou-masque::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
}

.bt-affiche-ou-masque::after {
  left: -2.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #FFFFFF;
}

.bt-affiche-ou-masque::before {
  left: 4.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
}

.visible .bt-affiche-ou-masque::after {
  left: -2.5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.visible .bt-affiche-ou-masque::before {
  left: 4.5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fiche-recette {
  min-height: 28rem;
  border-radius: 3px;
  -ms-flex-preferred-size: 30rem;
      flex-basis: 30rem;
  background-color: #e7e7e7;
  margin: 1rem;
}

.fiche-recette__image {
  width: 100%;
  min-height: 10rem;
  background-color: #c7bebe;
}

.fiche-recette__info {
  padding: 0 1rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fiche-recette__info__first-element {
  margin-bottom: 1rem;
  width: 100%;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fiche-recette__info__first-element__nom-recette {
  font-weight: 400;
  font-size: 1.4rem;
  max-width: 70%;
}

.fiche-recette__info__first-element__temps {
  font-weight: 600;
}

.fiche-recette__info__second-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  line-height: 1.3;
}

.fiche-recette__info__second-element__ingredients {
  white-space: nowrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 4px;
}

.fiche-recette__info__second-element__instructions {
  font-family: 'Roboto', sans-serif;
  font-size: 0.97em;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-height: 9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */