input {
  padding-left: 2rem;
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  background-color: $fond-champ-recherche;
  border: none;
  outline: $outline;
  font-size: 1.4rem;
  &::placeholder {
    width: 20rem;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*
  &:focus {
    outline: 2px solid $outline;
  }*/
}