$txt-clair: #FFFFFF;
$txt-survol: black;

$fond-bouton-ingredients: #3282f7;
$fond-bouton-appareils: #68d9a4;
$fond-bouton-ustenciles: #ed6454;

$fond-bloc-recette: #e7e7e7;
$fond-bloc-recette2: #c7bebe;
$fond-champ-recherche: #e7e7e7;

$outline: #ce5052;

